.ctnPListagemLivro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";

    height: 100vh;
}

.navegacao {
    grid-area: header;
}

.listagemLivros {
    grid-area: main;
    margin: auto 0;
}

.rodape {
    grid-area: footer;
}