.formCadastroLivro {
    display: flex;
    width: 90%;
    height: 70vh;
    margin: 1.5rem auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: var(--gray-color);
}

.ctnFormulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.imagemCapa {
    width: 200px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 1rem;
    cursor: pointer;
}

.inputFields {
    width: 70vw;
    margin: auto auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputFields input,
.inputFields select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 5px;
}

.doubleInput {
    width: 80%;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.painelEsquerdo,
.painelDireito {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.btnEnviar {
    width: 75%!important;
    height: 6vh;
    margin-top: 2rem;
    font-size: 1.5rem;

    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
}